nav{
	background-color: transparent;
	box-shadow: none;
	img{
		height: 1.8rem;
		position: absolute;
		top: 1rem;
		left: 1rem;
	}
	li{
		a{
      color: #000;
      font-size: 13px;
      padding: 0 1.6rem;
    }
  }
}
.btn{
	background-color: $color-botones;
	margin-top: 1.5rem;
}
.btn:hover{
	background-color: $color-botones-hover;
}

.seleccion{
	border-bottom: $borde;
  padding-bottom: 2rem;
}
.mseleccion{
	border: $borde;
	border-radius: 0.3rem;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
.fechas{
	border-left: $borde;
	border-right: $borde;
}
.blanco{
	background-color:white;
	border-bottom: $borde;
}
.fecha{
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}
.titulo{
	font-size: $titulo;
	margin: $titulo-margin;
  color: $txt-gray;
}
.bajada{
	font-size: $titulo - 5;
  color: $txt-gray;
  span{
    font-weight: bold;
  }
}
//carousel
.main{
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
.slider-outer{
 height: 100% !important;

 overflow: hidden;
}
.slider{
  width: 100%;
  height: 100%;
}
.slide-image{
  width: 100%;
  height: 100%;
  display:block;
  color: transparent;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
}
.slider .slide-item{
  float:left;
  padding: 0;
  margin: 0;
}
.clear{
  clear: both;

}
.container2{
  @extend .container;
  width:78%;

}
.carousel-wrap {
  margin: 5.6rem auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}
//carrusel pequeño
::-webkit-scrollbar { 
  width: 0; 
  height: 0; 
}
#slider {
  position: relative;
  width: $width; 
  height: $height;
  margin: auto;
  .trigger {
    cursor: pointer;
    position: absolute;
    width: 35px; 
    height: 50%;
    padding: 0; 
    margin: 0;
    outline: 0; 
    border: 0;
    background: transparent;
    &:hover { 
      background: rgba(255,255,255,.5); 
    }
    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      width: 10px; height: 10px;
      margin: auto;
      border-style: solid;
    }
  }
  .prev { 
    left: 0; 
    bottom: 100px;
    &:before {
      left: 5px;
      border-width: 3px 0 0 3px;
      border-color: $arrows transparent transparent $arrows;
      transform: rotate(-45deg);
    }
  }
  .next { 
    right: 0; 
    bottom: 100px;
    &:before {
      right: 5px;
      border-width: 3px 3px 0 0;
      border-color: $arrows $arrows transparent transparent;
      transform: rotate(45deg);
    }
  }
  .frame {
    position: absolute;
    top: 0; left: 35px; 
    right: 35px; 
    bottom: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    overflow: hidden;
    .item {
      position: absolute;
      top: 0; 
      bottom: 0;
      width: 25%; 
      height: 100%;
      .inset {
        position: absolute;
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0;
        margin: $gap * 2 $gap;
        overflow: hidden;
        .title { 
          margin: 10px 0; 
          font-weight: bold; 
          text-align: center; 
        }
        .caption { 
          font-size: 8pt;
          img{
            width:100%;
          }
        }
      }
    }
  }
}
.hamb{
  color: #F57373;
  margin-left: 2rem;
}