
//footer

.new{
	@include new_tag;
}
.dpto{
	font-size: 15px;
	margin-top: 1.2rem;
}
.info-dpto{
	font-size: 12px;
}
.star{
	@include star;
}
.star-none{
	@include star;
	color: $txt-gray;
}
.info-detail{
	margin-top: -2rem;
}
.heart{
	font-size: 36px;
	color: white;
	position: absolute;
	z-index: 3;
	padding: 0 1rem;
	&:hover{
		color:$color-botones;
		cursor:pointer;
	}
}
.dest{
	background-color: $black;
	opacity: 0.7; 
	float:left;
	z-index: 3;
	padding: 11px 30px;
	position: absolute;
	margin-top: 10rem;
	color: white;
}
.fotos{
	span{
		font-size: 10px;
	}
}

.cara{
	width: 60px;
    margin-left: 270px;
    margin-top: -40px;
}

.pagination{
	.number{
		background-color: $bg !important;
	}
}
.pag{
	margin-left: 2rem;
}