//header
.text{
	text-align: center;
}

.text p{
	color:#767676;
}

//section col-1

.title span a {
	font-size: 15px; 
	letter-spacing: 0.2px;
}


.rating i{
	color: #008489;
	padding-left: 30px;
}

a{
	color: #767676;
}

h5{
	font-size: 1.20rem;
}


//footer






