$color-botones:#ff5a5f;
$color-botones-hover:#af5f5f;
$borde:1px #dce0e0 solid;
$width: 100%; 
$height: 400px; 
$height2:300px;
$gap: 5px;
$bg: #DDD; 
$arrows: #333;
$titulo: 20px;
$titulo-margin: 20px 0;
$txt-gray: #7B7B7B;
$green: #00A699;
$black: #000;